@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');



body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.footer,
.navbar {
  background: #000;
  padding: .5rem;
}

a {
  color: #fff;
  text-decoration: none;
}

.top-container {
  display: flex;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  margin: 0;
}



.nav-item {
  padding: 0.5rem;
  list-style: none;
  border-radius: 0.2rem;
}

.nav-item:hover {
  background-color: aliceblue;
}
.symbol-size {
  padding: 0.5rem;
  border-radius: 4px;
  background: #FFF;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin: 0.2rem;
  font-size: 200%;
  transition: 0.3s all;
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.symbol-size:hover {
  box-shadow: 0 10px 36px -5px rgba(0, 0, 0, 0.3);
  border: 1px solid #db00ff;
  transform: scale(1.2);
  z-index: 2;
  background: linear-gradient(45deg, #9C27B0, #673ab778);
  color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.inline-container {
  display: flex;
}

.inline-container a {
  text-decoration: none;
  padding: 0 1rem;
  color: #fff;
}

.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  color: #fff;
  padding: 1rem;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
}

li,
p {
  font-size: 1.2rem;
}

@media (max-width:600px) {
  .main-navbar {
    flex-direction: column;
  }
  .navbar-nav,
  .top-container {
    flex-direction: column;
  }
  .nav-item {
    padding: 0.5rem 0.3rem;
}
  .navbar-menu {
    margin-top: .5rem;
  }

  .inline-container a {
    padding: 0 0.3rem;
  }
  .symbol-size {
    padding: 0.3rem;
    font-size: 120%;
  }
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}